@using WebAppRelation.Areas.AdminPanel.ViewModels;
@model AdminVM

<div class="content-wrapper">
	<div class="row">
		<div class="card">
			<div class="card-body">
								<div class="container">
					<div class="d-flex" style="justify-content:space-around;align-items:center">
						<h1>Books</h1>
						<a class="btn btn-primary" asp-controller="Book" asp-action="Create">Create</a>
					</div>
					</div>
				<h4 class="card-title">Table with contextual classes</h4>
				<p class="card-description">
					Add class <code>.table-{color}</code>
				</p>
				<div class="table-responsive pt-3">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>
									No:
								</th>
								<th>
									Title
								</th>
								<th>
									Description
								</th>
								<th>
									Price
								</th>
								<th>
									CategoryId
								</th>
								<th>
									BrandId
								</th>
								<th>
									ImgUrl
								</th>
							</tr>
						</thead>
						<tbody>
							@{
								var count = 0;
							}

							@foreach (var item in Model.Books)
							{
								count++;
									<tr class="table-info">
										<td>
										@count
										</td>
										<td>
										@item.Title
										</td>
										<td>
										@item.Author
										</td>
										<td>
										@item.Price
										</td>					
										<td>
										@item.Category.Id
										</td>
										
									</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>